/* Core styles */

body {
	font-family: monospace;
}

div#primary {
	padding-left: 10px;
	padding-right: 10px;
}

hr {
	margin-top:15px;
	margin-bottom: 15px;
}

ul.slot-list {
	font-family: monospace;
	list-style-type: none;
	padding-left: 0px;
}

/* Primary layout styles */

div.area {
	border: solid 1px black;
	padding:15px;
}

div.loadout {
	float:left;
	/*width:210px;*/
}

div.content-block {
	border:1px solid black;
	border-radius: 10px;
	padding: 5px;
}

div.loadout ul {
	border: solid 1px #666666;
	min-height: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:165px;
}

/* Item View styles */

div#itemTabs {
	font-family: monospace;
}

div#itemTabs ul {
	padding-left: 0px;
	list-style-type: none;
}

/* Loadout editor styles */

div.loadout-container ul li {
	padding: 2px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px dotted black;
	background-color: #D8D8D8;
	width:175px;
}

div.loadout-container ul li span.name {
	visibility: hidden;
}

div.loadout-container ul li.first span.name {
	visibility: visible;
}

div.loadout-container ul li.first {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top:3px;
	border-top: 1px solid black;
}

div.loadout-container ul li.last {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid black;
}

div.loadout-container ul li.empty {
	border-style: dashed;
	font-style: italic;
	background: none;
}

div.loadout-container ul li.removeable {
	background:none;
}

div.loadout-container ul.dropHighlight li.empty {
	background-color: #00CC99;
}

/* jQueryUI tabs overridden */

.ui-tabs {
	zoom: 1;
}
.ui-tabs .ui-tabs-nav {
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;
}
.ui-tabs .ui-tabs-nav li {
	position: relative;
	float: left;
	margin: 0 3px -2px 0;
	padding: 0;
}
.ui-tabs .ui-tabs-nav li a {
	display: block;
	padding: 10px 20px;
	background: #f0f0f0;
	border: 2px #ccc solid;
	border-bottom-color: #ccc;
	outline: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	padding: 10px 20px 12px 20px;
	background: #fff;
	border-bottom-style: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: default;
}
.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	clear: both;
	border: 2px #ccc solid;
	padding: 10px;
}
.ui-tabs .ui-tabs-hide {
	display: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	/*padding: 10px 20px 12px 20px;*/
	background-color: white;
	border-bottom: none !important;
}