body {
	font-family: monospace;
}

div#primary {
	padding: 20px;
}

hr {
	margin-top:15px;
	margin-bottom: 15px;
}

div.area {
	border: solid 1px black;
	padding:15px;
}

div.loadout {
	float:left;
	/*width:210px;*/
}

div.loadout ul {
	list-style-type: none;
	border: solid 1px #666666;
	min-height: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

div.loadout ul li {
	border-bottom: 1px solid black;
}

div.loadout ul li:last-child {
	border-bottom: none;
}

ul.dropHighlight {
	background-color: fuchsia;
}

div#itemTabs {
	font-family: monospace;
}

div#itemTabs ul {
	padding-left: 0px;
	list-style-type: none;
}