body {
	font-family: monospace;
}

div#primary {
	padding: 20px;
}

hr {
	margin-top:15px;
	margin-bottom: 15px;
}

div.area {
	border: solid 1px black;
	padding:15px;
}

div.loadout-area {
	width: 1100px;
	border: 1px solid black;
	float: left;
}

div.loadout {
	float:left;
	width:200px;
}

div.loadout ul {
	list-style-type: none;
	border: solid 1px #666666;
	min-height: 100px;
}

ul.dropHighlight {
	background-color: fuchsia;
}

div#itemTabs div {
	
}