/* Core styles */

body {
	font-family: Trebuchet MS;
	font-size:14px;
}

div#primary {
	padding-left: 10px;
	padding-right: 10px;
	min-width: 1350px;
}

hr {
	margin-top:15px;
	margin-bottom: 15px;
}

p, h1, h2, h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Primary layout styles */

div.primary-container {
	background-color: black;
}

div.area {
	border: solid 1px black;
	padding:15px;
}

div.loadout {
	float:left;
}

div.content-block {
	border:1px solid black;
	border-radius: 10px;
	padding: 5px;
	margin-right: 5px;
}

div.loadout ul {
	border: solid 1px #666666;
	min-height: 100px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:165px;
}

table.mech-layout td {
	vertical-align: top;
}

table.lines {
}

table.lines th,
table.lines td {
	padding-right: 10px;
}

table.lines th {
	font-weight: bold;
}

table.lines td {
	border-top: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0px;
}

/* Validity */

tr.invalid td {
	color: red;
}

/* Armor styles */
table#armorLocations input {
	width: 50px;
}

/* Item View styles */

div#itemTabs {
	/*font-family: monospace;*/
}

div#itemTabs ul {
	padding-left: 0px;
	list-style-type: none;
}

/* Loadout editor styles */

div.loadout-container ul {
	list-style-type: none;
	margin-top: 2px;
	margin-bottom: 2px;
	padding:0px 2px 2px 2px;
	border-radius: 5px;
	border:1px solid black;
	background-color: #EBEBEB;
}

div.loadout-container ul.dropHighlight {
	background-color: #00CC99;
}

div.loadout-container ul li {
	border-width: 2px;
	padding: 2px;
	border-left:2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px dotted black;
	background-color: white;
	width:145px;
}

div.loadout-container ul li span.name {
	visibility: hidden;
}

div.loadout-container ul li.first span.name {
	visibility: visible;
}

div.loadout-container ul li.first {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top:3px;
	border-top: 2px solid black;
}

div.loadout-container ul li.last {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 2px solid black;
}

div.loadout-container ul li.empty {
	border-style: dashed;
	border-width: 1px;
	font-style: italic;
	background: none;
	height: 14px;
}

div.loadout-container ul li.energy,
div.loadout-container ul li.ballistic,
div.loadout-container ul li.missile {
	border-width: 2px;
}

div.loadout-container ul li.energy {
	border-color: #E60000;
}

div.loadout-container ul li.ballistic {
	border-color: #FFD119;
}

div.loadout-container ul li.missile {
	border-color: #00B800;
}

div.loadout-container .invalid {
	color:red;
}

/* hardpoint display */

.hardpoint-summary {
	clear: both;
	height:24px;
}

.hardpoint-summary div {
	color:black;
	font-weight: bold;
	margin-right: 10px;
	float: left;
	padding:2px;
	border-radius: 3px;
}

.hardpoint-summary .ballistic {
	background-color: #FFD119;
}

.hardpoint-summary .energy {
	background-color: #E60000;
}

.hardpoint-summary .missile {
	background-color: #00B800;
}

#upgrades select {
	width: 140px;
}

/* jQueryUI tabs overridden */

.ui-tabs {
	zoom: 1;
}
.ui-tabs .ui-tabs-nav {
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;
}
.ui-tabs .ui-tabs-nav li {
	position: relative;
	float: left;
	margin: 0 3px -2px 0;
	padding: 0;
}
.ui-tabs .ui-tabs-nav li a {
	display: block;
	padding: 5px 10px;
	background: #f0f0f0;
	border: 2px #ccc solid;
	border-bottom-color: #ccc;
	outline: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	padding: 10px 20px 12px 20px;
	background: #fff;
	border-bottom-style: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: default;
}
.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	clear: both;
	border: 2px #ccc solid;
	padding: 10px;
}
.ui-tabs .ui-tabs-hide {
	display: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	/*padding: 10px 20px 12px 20px;*/
	background-color: white;
	border-bottom: none !important;
}